<div class="main-content">
 <%= render '/layouts/sidebar' %>
 <main>
  <%= render 'navigation' %>
  <div class="main-body">
    <div class="tweets">
      <p class="tweets-heading">TWEETS</p>
      <div class="tweet-form">
        <p>TWEET SOMETHING</p>
        <% if @opinion.errors.full_messages.any? %>
          <% @opinion.errors.full_messages.each do |message| %>
              <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
        <%= form_for @opinion, url: new_opinion_path do |f| %>
          <%= f.text_area :text, class: "text-input", placeholder: "Compose new Idea" %>
          <%= f.submit "Save", class: "text-btn" %>
        <% end %>
      </div>
      <div class="tweet-body">
        <p class="tweet-body-header">NEW OPINION</p>
        <% Opinion.all.each do |opinion| %>
          <div class="tweet-avatar">
            <div class="picture">
              <% if opinion.author[:Photo].nil? %>
                <%= gravatar_for opinion.author, size: 50 %>
              <% else %>
                <%= image_tag opinion.author.Photo.thumb.url %>
              <% end %>
            </div>
          </div>
          <div class="clear"></div>
        <% end %>
      </div>
    </div>
    <aside class="who-follow">
      <div class="follow-header">
        <p>WHO TO FOLLOW</p>
      </div>
      <div class="find-friends">
        <% User.all.each do |user| %>
          <div class="who-follow-profile">
            <div class="picture">
              <%= link_to user_path(user), class: 'user' do %>
                <% unless user[:Photo].nil? %>
                  <%= image_tag user.Photo.thumb.url, class: 'photo' %>
                <% else %>
                  <%= gravatar_for user, size: 50 %>
                <% end %>
                <h6><%= user.fullname %></h6>
              <% end %>
            </div>  
          </div>
        <% end %>
      </div>
    </aside>
  </div> 
 </main>
</div>
