<!DOCTYPE html>
<html>
  <head>
    <title>CapTwitter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  <%= flash[:notice]%>
  <%= flash[:alert]%>	  <%= flash[:alert]%>

  <div class="grid">
  <div class="user">
  </div>
    <div class="side-bar">
    </div>
     <div class="navbar">
    </div>
    <div>
  
    <%= yield %>
  </body>
</html>
